/* nav-bar */
.nav-bar {
  width: 100vw;
  position: absolute;
}

.nav-bar .inner {
  display: flex;
  justify-content: end;
  padding: 1rem 2rem;
}

.nav-bar a {
  margin-left: 0.5rem;
  padding: 0.2rem;
  padding-right: 0;
  font-size: 0.8rem;
  font-weight: 600;
  color: #444;
  position: relative;
}

.nav-bar a:hover {
  color: #999;
}